body {
	background-color: #1d1f1d
}

#console2 {
	font-family: courier, monospace;
	color: #fff;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	font-size:14px;
	border: 1px solid #ff0096;
	padding: 30px;
	-webkit-box-shadow: 1px 1px 9px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 9px 5px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 9px 5px rgba(0,0,0,0.75);
}

a {
	color: #0bc;
	text-decoration: none;
}

#goodbye {
	color: #0bc;
	text-decoration: none;
}

#green {
	color: #0f0;
}

#dollar {
	color: #0bc;
}

#pink {
	color: #ff0096;
}

#op{
    	color: #888888
}

input[type=text] {
    border: none;
    background: #1d1f1d;
    color: #fff;
    outline: none;
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}